body {
  background-color: #fff;
  font-family: "Assistant", sans-serif;
  color: #071c4d;
}

nav .btn-get-started {
  background-color: #d3756b;
  color: #fff;
}

.navbar-brand img {
  max-height: 60px;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  height: 70px;
  border-radius: 0;
}

.navbar .navbar-nav .nav-link {
  color: #fff;
}

.navbar .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #fff !important;
}

.btn-login {
  background-color: #071c4d;
  color: #fff;
}

.btn-login:hover {
  color: #fff;
}

.btn-get-started {
  background-color: #d3756b;
  color: #fff;
}

.btn-get-started:hover {
  background-color: #d5847b;
  color: #fff;
}

/**************** banner part css start ****************/
/* line 2, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_banner.scss */
.banner_part {
  position: relative;
  /* height: 782px; */
  display: flex;
  align-items: center;
  background-color: #ffc3a1;
  color: #a75d5d;
}

@media (max-width: 991px) {
  /* line 2, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_banner.scss */
  .banner_part {
    height: 550px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 2, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_banner.scss */
  .banner_part {
    height: 420px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 2, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_banner.scss */
  .banner_part {
    height: 420px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  /* line 2, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_banner.scss */
  .banner_part {
    height: 460px;
  }
}

/* line 19, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_banner.scss */
.banner_part:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background-color: #b08ead;
  width: 196px;
  height: 618px;
}

@media (max-width: 991px) {
  /* line 19, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_banner.scss */
  .banner_part:after {
    display: none;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 19, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_banner.scss */
  .banner_part:after {
    display: none;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  /* line 19, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_banner.scss */
  .banner_part:after {
    display: none;
  }
}

@media (max-width: 991px) {
  /* line 37, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_banner.scss */
  .banner_part .banner_text {
    margin-top: -150px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 37, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_banner.scss */
  .banner_part .banner_text {
    margin-top: 0;
  }
}

/* line 45, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_banner.scss */
.banner_part .banner_text h1 {
  font-size: 68px;
  font-weight: 500;
  line-height: 78px;
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  /* line 45, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_banner.scss */
  .banner_part .banner_text h1 {
    font-size: 30px;
    margin-bottom: 15px;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 45, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_banner.scss */
  .banner_part .banner_text h1 {
    font-size: 30px;
    margin-bottom: 15px;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 45, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_banner.scss */
  .banner_part .banner_text h1 {
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 45, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_banner.scss */
  .banner_part .banner_text h1 {
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 1.4;
  }
}

/* line 70, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_banner.scss */
.banner_part .banner_text h1 span {
  color: #b08ead;
}

/* line 74, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_banner.scss */
.banner_part .banner_text p {
  font-size: 20px;
  line-height: 1.5;
}

/* line 79, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_banner.scss */
.banner_part .banner_img {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 55%;
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  /* line 79, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_banner.scss */
  .banner_part .banner_img {
    max-width: 55%;
    /* top: auto;
    bottom: 0; */
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 79, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_banner.scss */
  .banner_part .banner_img {
    max-width: 55%;
    /* top: auto; */
    /* bottom: 0; */
  }
}

@media (max-width: 576px) {
  /* line 79, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_banner.scss */
  .banner_part .banner_img {
    max-width: 75%;
    top: auto;
    bottom: 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 79, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_banner.scss */
  .banner_part .banner_img {
    max-width: 55%;
    top: auto;
    bottom: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 79, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_banner.scss */
  .banner_part .banner_img {
    max-width: 55%;
    top: auto;
    bottom: 0;
  }
}

/* line 109, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_banner.scss */
.banner_part .banner_img .pattern_img {
  position: absolute;
  left: -133px;
  bottom: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 109, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_banner.scss */
  .banner_part .banner_img .pattern_img {
    max-width: 75%;
  }
}

@media (max-width: 576px) {
  /* line 109, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_banner.scss */
  .banner_part .banner_img .pattern_img {
    max-width: 60%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 109, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_banner.scss */
  .banner_part .banner_img .pattern_img {
    max-width: 55%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 109, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_banner.scss */
  .banner_part .banner_img .pattern_img {
    max-width: 55%;
  }
}

/* line 127, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_banner.scss */
.banner_part .btn_1 {
  margin-top: 50px;
}

@media (max-width: 991px) {
  /* line 127, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_banner.scss */
  .banner_part .btn_1 {
    margin-top: 20px;
    padding: 12px 25px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 127, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_banner.scss */
  .banner_part .btn_1 {
    margin-top: 20px;
  }
}

.section-stats .stats-detail {
  padding-top: 15px;
  background: #fff;
  padding-left: 40px;
}

.section-stats h2 {
  font-size: 30px;
  margin-bottom: 0;
}

.section-stats p {
  font-size: 20px;
  font-weight: lighter;
}

.section-popular {
  min-height: 540px;
  background: #ffc3a1;
  margin-top: -50px;
  margin-bottom: -230px;
}

.card-produk {
  text-decoration: none;
  color: #a75d5d;
}
.card-produk:hover {
  text-decoration: none;
  color: #d3756b;
}

.section-popular .section-popular-heading {
  margin-top: 150px;
}

.detail-produk .section-popular-heading {
  color: #a75d5d;
}

.detail-produk .section-popular-heading hr {
  width: 50%;
  border: 2px solid #a75d5d;
}

.section-popular .section-popular-heading h2,
.section-popular .section-popular-heading p {
  color: #a75d5d;
}

.section-popular .section-popular-heading h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.section-popular-content .section-popular-travel .card-travel {
  min-height: 380px;
  background: #fff;
  color: #fff;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
}

.section-popular-content .section-popular-travel .card-travel .travel-country {
  font-size: 18px;
  color: #fff;
}

.section-popular-content .section-popular-travel .card-travel .travel-location {
  font-size: 26px;
  color: #fff;
}

.section-popular-content .section-popular-travel .card-travel .travel-button .btn-travel-details {
  background-color: #ff9e53;
  color: #fff;
}

.section-popular-content .section-popular-travel .card-travel .travel-button .btn-travel-details:hover {
  color: #fff;
}

.section-networks {
  background-color: #fff;
  margin-top: -170px;
  padding-top: 240px;
  padding-bottom: 50px;
}

.section-networks h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.section-networks img {
  max-width: 100%;
}

.section-testimonials-heading {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f7f9ff));
  background: linear-gradient(#fff 0%, #f7f9ff 100%);
  padding-top: 50px;
  min-height: 506px;
}

.section-testimonials-heading h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.section-testimonials-content {
  margin-top: -300px;
  padding-bottom: 50px;
}

.section-testimonials-content .card-testimonial {
  padding: 40px 20px 10px;
  border-radius: 11px;
  margin-bottom: 20px;
}

.section-testimonials-content .card-testimonial .testimonial-content {
  min-height: 380px;
}

.section-testimonials-content .card-testimonial h3 {
  font-size: 22px;
}

.section-testimonials-content .card-testimonial .testimonials {
  font-size: 26px;
  text-align: center;
  color: #6e6e6e;
  font-weight: 200;
}

.section-testimonials-content .card-testimonial .trip-to {
  font-weight: normal;
  font-size: 22px;
  color: #6e6e6e;
}

.section-testimonials-content .card-testimonial hr {
  margin-left: -20px;
  margin-right: -20px;
}

.section-testimonials-content .btn-get-started {
  background-color: #ff9e53;
  color: #fff;
}

.section-testimonials-content .btn-get-started:hover {
  color: #fff;
}

.section-testimonials-content .btn-need-help {
  background-color: #f2f2f2;
  color: #c3c3c3;
}

.section-testimonials-content .btn-need-help:hover {
  color: #c3c3c3;
}

.section-footer {
  color: white;
}

.section-footer a {
  color: white;
  text-decoration: none;
}

.section-details-header {
  min-height: 310px;
  background: #e4e6eb;
  margin-top: -68px;
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
}

.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}

.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: #071c4d;
}

.section-details-content .card-details {
  padding: 30px;
  border-radius: 11px;
}

.section-details-content .card-details .trip-informations th {
  font-weight: 300;
  font-size: 18px;
  color: #071c4d;
}

.section-details-content .card-details .trip-informations td {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}

.section-details-content .card-details .trip-informations .text-blue {
  color: #071c4d;
  font-weight: bold;
}

.section-details-content .card-details .trip-informations .text-orange {
  color: #ff9e53;
  font-weight: bold;
}

.section-details-content .card-details h1 {
  font-size: 26px;
}

.section-details-content .card-details h2 {
  font-size: 20px;
}

.section-details-content .card-details p {
  font-size: 18px;
  color: #b1b1b1;
}

.section-details-content .card-details .payment-instructions {
  font-weight: 300;
  font-size: 14px;
  color: #b1b1b1;
}

.section-details-content .card-details .disclaimer {
  font-weight: 300;
  font-size: 14px;
  color: #b1b1b1;
}

.section-details-content .card-right {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.section-details-content .gallery .xzoom-container {
  display: block;
}

.section-details-content .gallery .xzoom-container .xzoom {
  width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 10px;
}

.section-details-content .gallery .xzoom-container .xactive {
  border: 2px solid #1abc9c;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.section-details-content .features {
  margin-top: 20px;
}

.section-details-content .features h3 {
  font-size: 18px;
  color: #071c4d;
  margin-bottom: 0;
}

.section-details-content .features p {
  margin-bottom: 0;
}

.section-details-content .features .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.section-details-content .features .features-image {
  width: 45px;
  height: 45px;
  float: left;
}

.section-details-content .join-container {
  margin-top: -16px;
}

.section-details-content .btn-join-now {
  background-color: #ff9e53;
  color: #fff;
  border-radius: 0;
}

.section-details-content .btn-join-now:hover {
  color: #fff;
}

.section-details-content .bank .bank-item h3 {
  font-size: 18px;
  color: #071c4d;
  margin-bottom: 0;
}

.section-details-content .bank .bank-item p {
  margin-bottom: 0;
}

.section-details-content .bank .bank-item .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.section-details-content .bank .bank-item .description p {
  font-family: Assistant;
  font-weight: normal;
  font-size: 16px;
  text-align: left;
  color: #071c4d;
}

.section-details-content .bank .bank-item .bank-image {
  width: 45px;
  height: 45px;
  float: left;
}

.section-details-content .btn-add-now {
  background-color: #071c4d;
  color: #fff;
}

.section-details-content .btn-add-now:hover {
  color: #fff;
}

.section-details-content .input-group-text {
  background-color: transparent;
}

.section-details-content h3 {
  font-weight: 400;
  font-size: 14px;
  color: #071c4d;
}

.section-details-content .gj-datepicker .datepicker {
  border-right: 0;
}

.section-details-content .gj-datepicker .input-group-append .btn {
  padding-right: 30px;
}

.section-success {
  height: 90vh;
}

.section-success h1 {
  font-weight: 600;
  font-size: 26px;
  color: #071c4d;
}

.section-success p {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}

.section-success .btn-home-page {
  border-radius: 4px;
  background: #071c4d;
  color: #fff;
}

.section-success .btn-home-page:hover {
  color: #fff;
}
/*# sourceMappingURL=main.css.map */

/* CSS Tambahan */
.detail-produk .card-details {
  padding: 30px;
  border-radius: 11px;
  color: #a75d5d;
}

.detail-produk .card-details h1 {
  font-size: 36px;
}

.detail-produk .card-details h2 {
  font-size: 20px;
}

.detail-produk .card-details span {
  font-size: 18px;
}

.detail-produk .card-details .btn-spurple {
  background-color: #d3756b;
  color: #fff;
}

.detail-produk .card-details .btn-purple,
.detail-produk .btn-dark-purple {
  background-color: #a75d5d;
  color: #fff;
}

.detail-produk .card-details .btn-opurple {
  background-color: white;
  border: 1px solid #a75d5d;
  color: #a75d5d;
}
.detail-produk .card-details .btn-opurple:hover {
  background-color: #a75d5d;
  border: 1px solid #a75d5d;
  color: white;
}

.detail-produk .card-details .attendee table,
.detail-produk .card-address {
  color: white;
}

.detail-produk .card-details .attendee table a {
  color: white;
}
.detail-produk .card-details .pembayaran table {
  color: #a75d5d;
}

.detail-produk .card-details .pembayaran table a {
  color: #a75d5d;
}
.detail-produk .card-details .checkout-produk table {
  color: #a75d5d;
}

.detail-produk .card-details .checkout-produk table a {
  color: #a75d5d;
}

/* line 1943, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_product.scss */
.login_part .login_part_text,
.login_part .login_part_form {
  padding: 80px 70px;
  height: 400px;
  display: table;
}

@media (max-width: 991px) {
  /* line 1943, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_product.scss */
  .login_part .login_part_text,
  .login_part .login_part_form {
    padding: 30px;
    height: 400px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 1943, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_product.scss */
  .login_part .login_part_text,
  .login_part .login_part_form {
    padding: 20px;
    height: 400px;
  }
}

/* line 1955, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_product.scss */
.login_part .login_part_text .login_part_text_iner,
.login_part .login_part_text .login_part_form_iner,
.login_part .login_part_form .login_part_text_iner,
.login_part .login_part_form .login_part_form_iner {
  display: table-cell;
  vertical-align: middle;
}

/* line 1960, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_product.scss */
.login_part .login_part_text {
  background-image: -moz-linear-gradient(90deg, #ffc3a1 0%, #d3756b 64%, #ffc3a1 100%);
  background-image: -webkit-linear-gradient(90deg, #ffc3a1 0%, #d3756b 64%, #ffc3a1 100%);
  background-image: linear-gradient(90deg, #ffc3a1 0%, #d3756b 64%, #ffc3a1 100%);
  background-size: 200% auto;
}

/* line 1965, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_product.scss */
.login_part .login_part_text h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  color: #fff;
  margin-bottom: 17px;
}

/* line 1972, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_product.scss */
.login_part .login_part_text p {
  color: #fff;
  line-height: 25px;
}

/* line 1976, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_product.scss */
.login_part .login_part_text .btn_3 {
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 14px;
  margin-top: 28px;
  color: #fff !important;
}

/* line 1982, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_product.scss */
.login_part .login_part_text .btn_3:hover {
  background-color: #fff;
  color: #a75d5d !important;
}

@media (max-width: 991px) {
  /* line 1988, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_product.scss */
  .login_part .login_part_form {
    padding: 0;
  }
}

/* line 1992, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_product.scss */
.login_part .login_part_form h3 {
  color: #a75d5d;
  font-size: 26px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 80px;
}

@media (max-width: 991px) {
  /* line 1992, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_product.scss */
  .login_part .login_part_form h3 {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 1992, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_product.scss */
  .login_part .login_part_form h3 {
    margin-bottom: 20px;
  }
}

/* line 2004, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_product.scss */
.login_part .login_part_form .form-control {
  border: 0px solid transparent;
  border-bottom: 1px solid #dddddd;
  border-radius: 0;
}

/* line 2008, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_product.scss */
.login_part .login_part_form .form-control ::placeholder {
  color: #a75d5d;
}

/* line 2014, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_product.scss */
.login_part .creat_account {
  margin-top: 11px;
}

/* line 2016, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_product.scss */
.login_part .creat_account label {
  color: #777777;
  font-size: 14px;
  margin-bottom: 0;
  margin-left: 10px;
}

/* line 2024, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_product.scss */
.login_part .form-group .btn_3 {
  display: block;
  width: 100%;
  margin: 30px 0 17px;
}

/* line 2030, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_product.scss */
.login_part .lost_pass {
  color: #777777;
  text-align: right;
  float: right;
  text-transform: capitalize;
}

.login_part .btn-opurple {
  background-color: white;
  border: 1px solid #a75d5d;
  color: #a75d5d;
  margin-top: 15px;
  width: 100%;
}
.login_part .btn-opurple:hover {
  background-color: #a75d5d;
  border: 1px solid #a75d5d;
  color: white;
}

.login_part .btn-sepurple {
  background-color: white;
  border: 1px solid #a75d5d;
  color: #a75d5d;
  margin-top: 15px;
  width: 100%;
}
.login_part .btn-sepurple:hover {
  background-color: #a75d5d;
  border: 1px solid #a75d5d;
  color: white;
}

.login_part .btn-purple {
  background-color: #a75d5d;
  color: #fff;
  margin-top: 15px;
  width: 100%;
}
.login_part .contact_form .btn-purple:hover {
  background-color: #c07575;
}

/* line 1513 , /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_product.scss */
.login_part .contact_form .p_star {
  display: inline-block;
  position: relative;
}

/* line 1518, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_product.scss */
.login_part .contact_form .p_star input {
  background: #fff;
}

/* line 1525, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_product.scss */
.login_part .contact_form .p_star input:focus + .placeholder {
  display: none;
}
