$darkgray: #979797;
$gray: #e4e4e4;
$slowgray: #fefefe;
$softgray: #f3f3f3;
$green: #29a867;
$bluedark: #0c0d36;
$orange: #ff7158;
$softpurple: #525252;
$pink: #FC5E8E;
$white: #ffffff;
$colorb : #bbbbbb;