

.store-breadcrumbs {
    .breadcrumb {
        padding: 0;
        padding: 10px 0 10px 0;
    }

    .breadcrumb-item + .breadcrumb-item::before {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .breadcrumb-item.active {
        font-weight: 300;
        color: $bluedark;
    }

    a {
        color: $darkgray;
        text-decoration : none;
    }

}