.page-auth {
    .row-login {
        min-height: 70vh;
    }

    .section-store-auth {
        h2 {
            font-weight: 200;
            font-size: 28px;
            margin-top: 0;
            color: $bluedark;
        }

        .form-control {
            border-radius: 8px;
            background: $softgray;
        }

        .btn-signup {
            @include button-variant($softgray, transparent);
            color: $colorb;
        }
    }
}